<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simpl Calculatron</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1>Posamezno Sporočilo</h1>
    <p> ID: {{ sporocilo.key.id() }}</p>
    <p> Vnos: {{ sporocilo.vnos }}</p>
    <p> Datum: {{ sporocilo.nastanek }}</p>
    <a href="/sporocilo/{{ sporocilo.key.id() }}/uredi">uredi sporočilo</a>
    <a href="/sporocilo/{{ sporocilo.key.id() }}/izbrisi">izbriši sporočilo</a>

</body>
</html>